{% extends "base.html" %}
{% load wagtailcore_tags cache wagtailmetadata_tags static %}
{% block metadata_tags %}
    {{block.super}}
    {# 🔮 TODO {% meta_tags %} #}
{% endblock metadata_tags %}
{% block content %}

    <div class='row'>
        <div class='col-md-12 offset-md-0'>
            <h1>{{page.title}}</h1>
        </div>
    </div>

    {% if is_superuser %}
        <dl class='row'>
            <dt class='col-sm-2'>Server URI</dt>
            <dd class='col-sm-10'><code>{{page.uri}}</code></dd>
            <dt class='col-sm-2'>Manager DN</dt>
            <dd class='col-sm-10'><code>{{page.manager_dn}}</code></dd>
            <dt class='col-sm-2'>Base DN for users</dt>
            <dd class='col-sm-10'><code>{{page.user_base}}</code></dd>
            <dt class='col-sm-2'>User search scope</dt>
            <dd class='col-sm-10'>{{user_scope}}</dd>
            <dt class='col-sm-2'>Base DN for groups</dt>
            <dd class='col-sm-10'><code>{{page.group_base}}</code></dd>
            <dt class='col-sm-2'>Group search scope</dt>
            <dd class='col-sm-10'>{{group_scope}}</dd>
        </dl>
    {% endif %}

    <div class='row'>
        {% if sign_up %}            
            <div class='col-sm-auto'>
                <div class='card' style='width: 18rem;'>
                    <a href='{{sign_up}}'>
                        <img class='card-img-top' style='width: 18rem;'
                            alt='Sign up for a new account'
                            src='{% static "jpl.edrn.biokey.usermgmt/images/signup.jpg" %}'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>Sign Up</h5>
                        <p class='card-text'>
                            Use this to register for a new user account in the {{page.title}}.
                        </p>
                        <a class='btn btn-primary' href='{{sign_up}}'>Sign Up</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if changepw %}
            <div class='col-sm-auto'>
                <div class='card' style='width: 18rem;'>
                    <a href='{{changepw}}'>
                        <img class='card-img-top' style='width: 18rem;'
                            alt='Change password or other details' 
                            src='{% static "jpl.edrn.biokey.usermgmt/images/change.jpg" %}'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>Change Password</h5>
                        <p class='card-text'>
                            If you know your password, you can change it. You can also update
                            other personal details, depending on your account type.
                        </p>
                        <a class='btn btn-primary' href='{{changepw}}'>Change Password</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if forgotten %}
            <div class='col-sm-auto'>
                <div class='card' style='width: 18rem;'>
                    <a href='{{forgotten'>
                        <img class='card-img-top' style='width: 18rem;'
                            alt='Forgot your password or username?'
                            src='{% static "jpl.edrn.biokey.usermgmt/images/forgotten.jpg" %}'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>Forgotten password?</h5>
                        <p class='card-text'>
                            Don't remember your password? Depending on your account type, you can reset it.
                            <em>If you don't remember your username</em>, you can try to recover it using your
                            email address.
                        </p>
                        <a class='btn btn-primary' href='{{forgotten}}'>Forgotten Account</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
