{% extends "base.html" %}
{% load wagtailcore_tags cache static wagtailimages_tags biokey_usermgmt_filters %}
{% block content %}

    {% if page.logo %}
        <div class='row mt-2 mb-3'>
            <div class='col-auto'>
                {% image page.logo max-960x100 as the_logo %}
                <img src='{{the_logo.url}}' alt='Logo of {{page.title}}'/>
            </div>
        </div>
    {% endif %}

    <div class='row mb-2'>
        <div class='col-md-12 offset-md-0'>
            <h1>{{page.page_title}}</h1>
        </div>
    </div>

    {% if is_staff %}
        <p class='d-inline-flex gap-1'>
            <button class='btn btn-primary' type='button' data-bs-toggle='collapse' data-bs-target='#review_queue'
                aria-expanded='false' aria-controls='review_queue' role='button'>
                Review Pending Users
            </button>
        </p>
        <div class='collapse mb-5' id='review_queue'>
            {% if have_pending_users %}
                <table class='table'>
                    <thead>
                        <tr>
                            <th scope='col'>№</th>
                            <th scope='col'>User ID</th>
                            <th scope='col'>First name</th>
                            <th scope='col'>Last name</th>
                            <th scope='col'>Phone</th>
                            <th scope='col'>Email</th>
                            <th scope='col'>Created</th>
                            <th scope='col'>Disposition</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in pending_users %}
                            <tr>
                                <th scope='row'>{{forloop.counter}}</th>
                                <td><code>{{user.uid}}</code></td>
                                <td>{{user.fn}}</td>
                                <td>{{user.ln}}</td>
                                <td><a href='tel:{{user.phone}}'>{{user.phone}}</a></td>
                                <td><a href='mailto:{{user.email}}'>{{user.email}}</a></td>
                                <td>
                                    <time datetime='{{user.created_at|datetime_iso8601}}'
                                        title='{{user.created_at|datetime_iso8601}}'>
                                        {{user.created_at|waiting_since}}
                                    </time>
                                </td>
                                <td>
                                    <a type='button' class='btn btn-sm'
                                        title='Approve this user and notify by email'
                                        href='{{page.url}}?disposition=accept&amp;uid={{user.uid}}'>
                                        <i class='bi bi-check'></i> Approve
                                    </a>
                                    <br/>
                                    <a type='button' class='btn btn-sm'
                                        title='Delete this user and notify by email'
                                        href='{{page.url}}?disposition=reject&amp;uid={{user.uid}}'>
                                        <i class='bi bi-heartbreak'></i> Reject
                                    </a>
                                    <br/>
                                    <a type='button' class='btn btn-sm'
                                        title='Delete this user without notifying them'
                                        href='{{page.url}}?disposition=delete&amp;uid={{user.uid}}'>
                                        <i class='bi bi-x'></i> Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are no users awaiting approval at this time.</p>
            {% endif %}
        </div>
    {% endif %}

    <div class='row'>
        {% if sign_up %}            
            <div class='col-sm-auto'>
                <div class='card' style='width: 18rem;'>
                    <a href='{{sign_up}}'>
                        <img class='card-img-top' style='width: 18rem;'
                            alt='Sign up for a new account'
                            src='{% static "jpl.edrn.biokey.usermgmt/images/signup.jpg" %}'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>Sign Up</h5>
                        <p class='card-text'>
                            Use this to register for a new user account in the {{page.title}}.
                        </p>
                        <a class='btn btn-primary' href='{{sign_up}}'>Sign Up</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if changepw %}
            <div class='col-sm-auto'>
                <div class='card' style='width: 18rem;'>
                    <a href='{{changepw}}'>
                        <img class='card-img-top' style='width: 18rem;'
                            alt='Change password or other details' 
                            src='{% static "jpl.edrn.biokey.usermgmt/images/change.jpg" %}'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>Change Password</h5>
                        <p class='card-text'>
                            If you know your password, you can change it. You can also update
                            other personal details, depending on your account type.
                        </p>
                        <a class='btn btn-primary' href='{{changepw}}'>Change Password</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if forgotten %}
            <div class='col-sm-auto'>
                <div class='card' style='width: 18rem;'>
                    <a href='{{forgotten}}'>
                        <img class='card-img-top' style='width: 18rem;'
                            alt='Forgot your password or username?'
                            src='{% static "jpl.edrn.biokey.usermgmt/images/forgotten.jpg" %}'
                        />
                    </a>
                    <div class='card-body'>
                        <h5 class='card-title'>Forgotten password?</h5>
                        <p class='card-text'>
                            Don't remember your password? Depending on your account type, you can reset it.
                            <em>If you don't remember your username</em>, you can try to recover it using your
                            email address.
                        </p>
                        <a class='btn btn-primary' href='{{forgotten}}'>Forgotten Account</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
