{% extends 'base.html' %}
{% load wagtailcore_tags biokey_usermgmt_filters %}
{% block content %}

    <h1>Cannot Change Password</h1>

    <div class='row'>
        <div class='col-auto'>
            <p>
                Unfortunately, we can't change your password here. Your account, <code>{{uid}}</code>,
                is managed by the Data Management and Coordinating Center of the Early Detection
                Research Network.
            </p>
            <p class='alert alert-info'>
                To change your password, please visit the
                <a href='https://www.compass.fhcrc.org/edrns/pub/user/changePwd.aspx?t=pwd&sub=form&w=1&p=3&sub2=lift&t2=5'>DMCC password reset form</a> instead.
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p>Sorry for the inconvenience.</p>
        </div>
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
