{% extends 'base.html' %}
{% load wagtailcore_tags biokey_usermgmt_filters wagtailimages_tags %}
{% block content %}

    {% with parent_page=page.get_parent.specific %}
        {% if parent_page.logo %}
            <div class='row mt-2 mb-3'>
                <div class='col-auto'>
                    {% image parent_page.logo max-960x100 as the_logo %}
                    <img src='{{the_logo.url}}' alt='Logo of {{page.title}}'/>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <h1>Sending Password Reset Email</h1>

    <div class='row'>
        <div class='col-auto'>
            <p>
                We're preparing an email message to reset the password for account <code>{{uid}}</code>.
                If that account is known to the system, the address on that account will 
                receive a link that'll let you reset the password.
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p class='alert alert-warning' role='alert'>
                <strong>Please note</strong> that sometimes our emails can end up in your
                "junk" or "spam" folders. If you don't see the message, check those folders.
            </p>
            <p>If you still don't receive the email, <a href='mailto:{{us}}'>feel free to contact us</a>.</p>
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p>You can now safely close this browser window.</p>
        </div>
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
