{% extends 'base.html' %}
{% load wagtailcore_tags biokey_usermgmt_filters wagtailimages_tags %}
{% block content %}

    {% with parent_page=page.get_parent.specific %}
        {% if parent_page.logo %}
            <div class='row mt-2 mb-3'>
                <div class='col-auto'>
                    {% image parent_page.logo max-960x100 as the_logo %}
                    <img src='{{the_logo.url}}' alt='Logo of {{page.title}}'/>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <h1>Password Successfully Set</h1>

    <div class='row'>
        <div class='col-auto'>
            <p>
                Thanks! The password for <code>{{uid}}</code> in {{consortium}} has been changed.
            </p>
            {% if pending %}
                <p class='alert alert-info'>
                    Please note that your account is still pending. New accounts will be ready
                    for use once you receive your approval email.
                </p>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p>You can now safely close this browser window.</p>
        </div>
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
