{% extends 'base.html' %}
{% load wagtailcore_tags biokey_usermgmt_filters %}
{% block content %}

    <h1>Password Successfully Changed</h1>

    <div class='row'>
        <div class='col-auto'>
            <p>
                Thanks! The password for <code>{{uid}}</code> has been changed.
                It'll take effect the next time you log into any {{consortium}} application.
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p>You can now safely close this browser window.</p>
        </div>
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
