{% extends 'base.html' %}
{% load wagtailcore_tags biokey_usermgmt_filters %}
{% block content %}

    <h1>Sending Account Name Reminder</h1>

    <div class='row'>
        <div class='col-auto'>
            <p>
                We're preparing an email message to <code>{{email}}</code> containing the user ID
                that goes with that email address, assuming that address is known to the system.
            </p>
            <p>
                Once you get the user ID, you can
                <a href='{{url}}'>return to the {{dit.title}} page</a> to change the
                password or reset a forgotten password.
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p class='alert alert-warning' role='alert'>
                <strong>Please note</strong> that sometimes our emails can end up in your
                "junk" or "spam" folders. If you don't see the message, check those folders.
            </p>
            <p>
                If you still don't receive the email,
                <a href='mailto:{{dit.help_address}}'>feel free to contact us</a>.
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-auto'>
            <p>You can now safely close this browser window.</p>
        </div>
    </div>

{% endblock content %}
{# -*- Django HTML -*- #}
